.gallery {
  &--mobile {
    display: flex;
    flex-wrap: wrap;
  }

  &__image {
    width: 50vw;
  }

  &--desktop {
    display: none;
  }

  @include media('>small') {
    &--desktop {
      display: flex;
    }

    &__image {
      width: 25vw;
    }

    &--mobile {
      display: none;
    }
  }
}
