@use '../abstracts' as *;

.button-contact {
  cursor: pointer;

  color: $color-very-dark-desaturated-blue;
  background-color: $color-yellow;

  width: 8.75rem;
  height: 3.5rem;

  border: 0;
  border-radius: 1.75rem;

  @extend %transition;

  &:hover,
  &:focus-within {
    color: $color-white;
    background-color: $color-light-blue;
  }

  &:active {
    transform: translateY(0.5em);
  }

  @include media('>medium') {
    background-color: $color-white;
  }
}
