@use '../abstracts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;

  min-height: 100vh;

  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;

  background-color: $color-blue;

  .background-desktop,
  .background-mobile {
    z-index: -1000;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }

  .background-desktop {
    display: none;
    height: 50rem;
  }

  .background-mobile {
    height: 33.625rem;
  }

  @include media('>small') {
    .background-desktop {
      display: block;
    }
    .background-mobile {
      display: none;
    }
  }
}

main {
  background-color: $color-white;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
